@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

main{
    padding: 20px;
    overflow: auto;
}

nav{
    width: 100%;
    background: transparent;
    overflow: auto;
}

nav a{
    float: left;
    text-align: center;
    padding: 12px;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-left: 5px;
    color: #fff;
}

nav a:hover{
    background-color: #676767;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
}

body{
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    background: darkmagenta;
}

#content{
    display: flex;
    float: left;
    width: 100%;
    padding-left: 20px;
}

*{
    box-sizing: border-box;
}

.cover-image{
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
}

footer{
    padding: 20px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width:1080px) {
    #content{
        width: 100px;
        padding: 0;
    }
}